
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #238E36;" >
		  			<a class="navbar-brand" href="pantalla_prin.php">¡Bienvenido Comienza A Sembrar!</a>
		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    		<span class="navbar-toggler-icon"></span></button>
				  
				  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    <div class="navbar-nav">
				      <a class="nav-item nav-link active" href="pantalla_prin.php">Inicio <span class="sr-only">(current)</span></a>
				      <a class="nav-item nav-link" href="consulta.php">Consulta</a>
				  </div>
				</nav>
